
[class*="lines-"] {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
[dir=rtl] .wiloke-post-tags-categories-avenue-wrapper .l\:0 { left: initial }
[dir=rtl] .wiloke-post-tags-categories-avenue-wrapper .r\:0 { right: initial }
.lines-2 { -webkit-line-clamp: 2 }
.lines-1 { -webkit-line-clamp: 1 }
[dir=rtl] .wiloke-post-tags-categories-avenue-wrapper .l\:50\% { left: initial }
.wiloke-post-tags-categories-avenue-wrapper .bg\:none\! { background: none !important }
.wiloke-post-tags-categories-avenue-wrapper .bgc\:\#eee { background-color: #eee }
.wiloke-post-tags-categories-avenue-wrapper .cur\:pointer { cursor: pointer }
.wiloke-post-tags-categories-avenue-wrapper .d\:flex { display: flex }
.wiloke-post-tags-categories-avenue-wrapper .d\:flex\! { display: flex !important }
.wiloke-post-tags-categories-avenue-wrapper .fld\:column\! { flex-direction: column !important }
.wiloke-post-tags-categories-avenue-wrapper .fz\:20px { font-size: 20px }
.wiloke-post-tags-categories-avenue-wrapper .h\:auto\! { height: auto !important }
.wiloke-post-tags-categories-avenue-wrapper .lh\:1\.5 { line-height: 1.5 }
.wiloke-post-tags-categories-avenue-wrapper .mb\:5px { margin-bottom: 5px }
.wiloke-post-tags-categories-avenue-wrapper .mih\:100\%\! { min-height: 100% !important }
.wiloke-post-tags-categories-avenue-wrapper .op\:0 { opacity: 0 }
.wiloke-post-tags-categories-avenue-wrapper .p\:40px { padding: 40px }
.wiloke-post-tags-categories-avenue-wrapper .pos\:absolute { position: absolute }
.wiloke-post-tags-categories-avenue-wrapper .ta\:center { text-align: center }
.wiloke-post-tags-categories-avenue-wrapper .bd\:1px_solid_\#f2f2f7 { border: 1px solid #f2f2f7 }
.wiloke-post-tags-categories-avenue-wrapper .bdrs\:15px { border-radius: 15px }
.wiloke-post-tags-categories-avenue-wrapper .bdrs\:13px { border-radius: 13px }
.wiloke-post-tags-categories-avenue-wrapper .bgc\:\#fff { background-color: #fff }
.wiloke-post-tags-categories-avenue-wrapper .bgz\:cover { background-size: cover }
.wiloke-post-tags-categories-avenue-wrapper .bgp\:50\%_50\% { background-position: 50% 50% }
.wiloke-post-tags-categories-avenue-wrapper .c\:\#17174F { color: #17174F }
.wiloke-post-tags-categories-avenue-wrapper .flxs\:0 { flex-shrink: 0 }
.wiloke-post-tags-categories-avenue-wrapper .ai\:center { align-items: center }
.wiloke-post-tags-categories-avenue-wrapper .ff\:Poppins { font-family: Poppins }
.wiloke-post-tags-categories-avenue-wrapper .fw\:500 { font-weight: 500 }
.wiloke-post-tags-categories-avenue-wrapper .fz\:14px { font-size: 14px }
.wiloke-post-tags-categories-avenue-wrapper .h\:60px { height: 60px }
.wiloke-post-tags-categories-avenue-wrapper .h\:50px { height: 50px }
.wiloke-post-tags-categories-avenue-wrapper .h\:100\% { height: 100% }
.wiloke-post-tags-categories-avenue-wrapper .l\:0 { left: 0 }
[dir=rtl] .wiloke-post-tags-categories-avenue-wrapper .l\:0 { right: 0 }
.wiloke-post-tags-categories-avenue-wrapper .mb\:3px { margin-bottom: 3px }
.wiloke-post-tags-categories-avenue-wrapper .obf\:cover { object-fit: cover }
.wiloke-post-tags-categories-avenue-wrapper .t\:3px { top: 3px }
.wiloke-post-tags-categories-avenue-wrapper .t\:0 { top: 0 }
.wiloke-post-tags-categories-avenue-wrapper .ov\:hidden { overflow: hidden }
.wiloke-post-tags-categories-avenue-wrapper .p\:5px { padding: 5px }
.wiloke-post-tags-categories-avenue-wrapper .p\:0_10px { padding: 0 10px }
.wiloke-post-tags-categories-avenue-wrapper .pos\:relative { position: relative }
.wiloke-post-tags-categories-avenue-wrapper .td\:none\! { text-decoration: none !important }
.wiloke-post-tags-categories-avenue-wrapper .trs\:0\.3s { transition: 0.3s }
.wiloke-post-tags-categories-avenue-wrapper .w\:50px { width: 50px }
.wiloke-post-tags-categories-avenue-wrapper .w\:100\% { width: 100% }
.wiloke-post-tags-categories-avenue-wrapper .z\:-1 { z-index: -1 }
.wiloke-post-tags-categories-avenue-wrapper .r\:0 { right: 0 }
[dir=rtl] .wiloke-post-tags-categories-avenue-wrapper .r\:0 { left: 0 }
.wiloke-post-tags-categories-avenue-wrapper .bd\:1px_solid_\#F8F8FC { border: 1px solid #F8F8FC }
.wiloke-post-tags-categories-avenue-wrapper .bdrs\:30px { border-radius: 30px }
.wiloke-post-tags-categories-avenue-wrapper .bdrs\:50\% { border-radius: 50% }
.wiloke-post-tags-categories-avenue-wrapper .bxsh\:0_2px_5px_\#17174f14 { box-shadow: 0 2px 5px #17174f14 }
.wiloke-post-tags-categories-avenue-wrapper .bdrs\:6px { border-radius: 6px }
.wiloke-post-tags-categories-avenue-wrapper .bxsh\:0_1px_5px_\#17174f0d\|h:hover { box-shadow: 0 1px 5px #17174f0d }
.wiloke-post-tags-categories-avenue-wrapper .w\:40\% { width: 40% }
.wiloke-post-tags-categories-avenue-wrapper .bd\:1px_solid { border: 1px solid }
.wiloke-post-tags-categories-avenue-wrapper .bd\:1px_solid_\#fff { border: 1px solid #fff }
.wiloke-post-tags-categories-avenue-wrapper .d\:block { display: block }
.wiloke-post-tags-categories-avenue-wrapper .d\:inline-block { display: inline-block }
.wiloke-post-tags-categories-avenue-wrapper .fw\:400 { font-weight: 400 }
.wiloke-post-tags-categories-avenue-wrapper .ins\:10px { inset: 10px }
.wiloke-post-tags-categories-avenue-wrapper .l\:50\% { left: 50% }
[dir=rtl] .wiloke-post-tags-categories-avenue-wrapper .l\:50\% { right: 50% }
.wiloke-post-tags-categories-avenue-wrapper .t\:50\% { top: 50% }
.wiloke-post-tags-categories-avenue-wrapper .p\:0_25px { padding: 0 25px }
.wiloke-post-tags-categories-avenue-wrapper .p\:10px_15px { padding: 10px 15px }
.wiloke-post-tags-categories-avenue-wrapper .group\*:hover .trf\:scale\(1\.1\)\*group-hover { transform: scale(1.1) }
.wiloke-post-tags-categories-avenue-wrapper .trf\:translate\(-50\%\,-50\%\) { transform: translate(-50%,-50%) }
[dir=rtl] .wiloke-post-tags-categories-avenue-wrapper .trf\:translate\(-50\%\,-50\%\) { transform: translate(50%,-50%) }
.wiloke-post-tags-categories-avenue-wrapper .z\:2 { z-index: 2 }
.wiloke-post-tags-categories-avenue-wrapper .bdrs\:10px { border-radius: 10px }
.wiloke-post-tags-categories-avenue-wrapper .p\:15px { padding: 15px }
.wiloke-post-tags-categories-avenue-wrapper .bdrs\:15px_15px_0px_0px { border-radius: 15px 15px 0px 0px }
.wiloke-post-tags-categories-avenue-wrapper .bgc\:\#000 { background-color: #000 }
.wiloke-post-tags-categories-avenue-wrapper .bgp\:center { background-position: center }
.wiloke-post-tags-categories-avenue-wrapper .fil\:drop-shadow\(0px_2px_16px_rgba\(0\,0\,0\,0\.06\)\) { filter: drop-shadow(0px 2px 16px rgba(0,0,0,0.06)) }
.wiloke-post-tags-categories-avenue-wrapper .jc\:space-between { justify-content: space-between }
.wiloke-post-tags-categories-avenue-wrapper .fxw\:wrap { flex-wrap: wrap }
.wiloke-post-tags-categories-avenue-wrapper .pt\:110\% { padding-top: 110% }
.wiloke-post-tags-categories-avenue-wrapper .pb\:16px { padding-bottom: 16px }
.wiloke-post-tags-categories-avenue-wrapper .trs\:all_0\.3s { transition: all 0.3s }
.wiloke-post-tags-categories-avenue-wrapper .z\:3 { z-index: 3 }